In [203]:
import pandas as pd
import numpy as np
import os, time,json
import tmdbsimple as tmdb 
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import scipy
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer, make_column_selector, ColumnTransformer
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
np.random.seed(321)
scipy.__version__
from tqdm.notebook import tqdm_notebook

In [204]:
pd.set_option('display.max_columns',100)

In [205]:
with open('/Data Enrichment/Practices/Practices/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['API Key (v3 auth)'])

In [183]:
tmdb.API_KEY =  login['API Key (v3 auth)']

In [208]:
FOLDER = 'Data/'
file_list = sorted(os.listdir(FOLDER))
file_list

['.ipynb_checkpoints',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json']

In [210]:
file_list[1]

'tmdb_api_results_2000.json'

In [211]:
FOLDER+ file_list[1]

'Data/tmdb_api_results_2000.json'

In [212]:
pd.read_csv(FOLDER+ file_list[5])

Empty DataFrame
Columns: [[{"imdb_id": 0},  {"adult": false,  "backdrop_path": "/t7zb6CnRQwhzQSq0apR4ESFYiWN.jpg",  "belongs_to_collection": null,  "budget": 65000000,  "genres": [{"id": 28,  "name": "Action"},  {"id": 16,  "name": "Animation"},  {"id": 35,  "name": "Comedy"},  {"id": 10751,  "name": "Family"}],  "homepage": "http://www.thresholdanimationstudios.com/video.php?id=foodfight",  "id": 116977,  "imdb_id": "tt0249516",  "original_language": "en",  "original_title": "Foodfight!",  "overview": "The evil Brand X joins a supermarket that becomes a city after closing time.",  "popularity": 7.619,  "poster_path": "/to9ggXVyhNTCICHcHMCtFtANd8P.jpg",  "production_companies": [{"id": 1632,  "logo_path": "/cisLn1YAUuptXVBa0xjq7ST9cH0.png",  "name": "Lionsgate",  "origin_country": "US"},  {"id": 4174,  "logo_path": null,  "name": "Threshold Entertainment",  "origin_country": ""},  {"id": 133802,  "logo_path": null.1,  "name": "C47 Productions",  "origin_country": ""}.1,  {"id": 133803,  "logo_path": null.2,  "name": "Natural Image",  "origin_country": ""}.2,  {"id": 133804,  "logo_path": null.3,  "name": "StoryArk Media",  "origin_country": ""}],  "production_countries": [{"iso_3166_1": "US",  "name": "United States of America"}],  "release_date": "2012-06-15",  "revenue": 73706,  "runtime": 87,  "spoken_languages": [{"english_name": "English",  "iso_639_1": "en",  "name": "English"}],  "status": "Released",  "tagline": "",  "title": "Foodfight!",  "video": false,  "vote_average": 1.8,  "vote_count": 109,  "certification": "PG"},  {"adult": false.1,  "backdrop_path": "/pKOHinAVIkyqLliMaTHCSL1T4zU.jpg",  "belongs_to_collection": null.1,  "budget": 4000000,  "genres": [{"id": 35,  "name": "Comedy"}],  "homepage": "",  "id": 112074,  "imdb_id": "tt0285252",  "original_language": "pl",  "original_title": "Life's a Beach",  "overview": "Darren gets stood up on the day of his wedding and uses his vacation tickets with his best friend,  RJ,  to spend his \"honeymoon\" at a Club Med-style resort.",  "popularity": 0.6,  "poster_path": "/v4RlCWc0ixi2ON6HWcZftO7U2P2.jpg",  "production_companies": [{"id": 85165,  "logo_path": null.4,  "name": "Miracle Entertainment",  "origin_country": ""}.3,  {"id": 177690,  "logo_path": null.5,  "name": "Bronx Born Films",  "origin_country": ""}].1,  "production_countries": [{"iso_3166_1": "US".1,  "name": "United States of America"}].1,  "release_date": "2010-01-01",  "revenue": 0,  "runtime": 100,  "spoken_languages": [{"english_name": "English".1,  "iso_639_1": "en".1,  "name": "English"}].1,  "status": "Released".1,  "tagline": "".1,  "title": "Life's a Beach",  "video": false.1,  "vote_average": 2.4,  "vote_count": 6,  "certification": "R"},  {"adult": false.2,  "backdrop_path": "/cj2isIuskSePAwpb2D6yUBZrhkJ.jpg",  "belongs_to_collection": null.2,  "budget": 0,  "genres": [{"id": 53, ...]
Index: []

[0 rows x 128596 columns]

In [223]:
import glob
q = FOLDER+ "api*csv.gz"
q

'Data/api*csv.gz'

In [224]:
file_list = glob.glob(q)
file_list

[]

In [225]:
pd.read_csv(file_list[0],lineterminator = '\n')

IndexError: list index out of range

In [184]:
#Load in basics
df = pd.read_csv('/Data Enrichment/Week 1/Project 3/basics.csv.gz')
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [185]:
# Load in the dataframe from project part 1 as akas:
akas = pd.read_csv('/Data Enrichment/Week 1/Project 3/akas.csv.gz')
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [186]:
# Load in the dataframe from project part 1 as ratings:
ratings = pd.read_csv('/Data Enrichment/Week 1/Project 3/ratings.csv.gz')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1922
1  tt0000002            5.8       259
2  tt0000003            6.5      1736
3  tt0000004            5.6       174
4  tt0000005            6.2      2549

In [187]:
def get_movie_with_rating(movie_id):
    """Adapted from source = https:github.com/celiao/tmdbsimple"""
    movie = tmdb.Movies(movie_id)
    info = movie.info()
    releases = movie.releases()
    for c in releases['countries']:
        if c['iso_3166_1' ] =='US':
            info['certification'] = c['certification']
    return info

In [188]:
# Get the movie object for the current id
movie = tmdb.Movies('tt0848228')
# save the .info .releases dictionaries
info = movie.info()
releases = movie.releases()
# Loop through countries in releases
for c in releases['countries']:
    # if the country abbreviation==US
    if c['iso_3166_1' ] =='US':
        ## save a "certification" key in the info dict with the certification
       info['certification'] = c['certification']

In [189]:
# example from package README
# source = https://github.com/celiao/tmdbsimple
response = movie.releases()
for c in movie.countries:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

PG-13

In [190]:
def get_movie_with_rating(movie_id):
    """Adapted from source = https:github.com/celiao/tmdbsimple"""
    movie = tmdb.Movies(movie_id)
    info = movie.info()
    releases = movie.releases()
    for c in releases['countries']:
        if c['iso_3166_1' ] =='US':
            info['certification'] = c['certification']
    return info

In [191]:
test = get_movie_with_rating("tt0848228") #put your function name here
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 125.693,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.708,
 'vote_count': 27844,
 'certification': 'PG-13'}

In [192]:
# Get the movie object for the current id
movie = tmdb.Movies('tt0848228')
# save the .info .releases dictionaries
info = movie.info()
info['budget']

220000000

In [193]:
YEARS_TO_GET = [2019]

In [194]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [195]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)

    # If it does not exist: create it
    if file_exists == False:
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)

    #Saving new year as a new dataframe
    df = df.loc[df['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    movie_ids

    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)

    previous_df

    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            continue
    new_df = pd.read_json(JSON_FILE)
    new_df.to_csv('/Data Enrichment/Week 2/Project 3 Part-2/final_tmdb_{YEAR}.csv.gz', compression='gzip', index=False)

YEARS:   0%|          | 0/1 [00:00<?, ?it/s]

Movies from 2019:   0%|          | 0/5749 [00:00<?, ?it/s]